.mainTransaction{
  position: relative;
}
.mainComponent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}
.calendar {
  width: 100%;
  margin-top: 1em;
  align-items: center;
  justify-content: space-evenly;
  border: 0.2px solid rgb(221, 221, 221);
  display: flex;
  border-radius: 10px;
  padding: .5em;
}
.arrow-icon {
  cursor: pointer;
}
.count {
  display: flex;
  gap: 0.5em;
  color: gray;
}
.total {
  display: flex;
  gap: 0.5em;
}
.header{
    border-bottom: 0.2px solid rgb(221, 221, 221);
}
