.Accounts {
  margin-top: 3em;
}
.AccountDetail {
  width: 40em;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0.5em;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 8px;
  margin-bottom: 1em;
}
.AccountDetail .notes {
  width: 70%;
}
.AccountDetail .details,
.noteDetials {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3em 0.2em 0.3em;
}
.AccountDetail .amount {
  color: rgb(0, 221, 0);
}
.AccountDetail .noteDetials {
  padding-right: 2em;
}
.noteDetials .three-dot {
  cursor: pointer;
}
.noteDetials ul {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(196, 196, 196);
}
.noteDetials ul li {
  width: 100%;
  list-style: none;
  border: 1px solid rgb(226, 226, 226);
  padding: 0.4em;
}
.editIcon {
  position: relative;
}
.totalDiv {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5px;
}
.totalDiv .balance {
  color: rgb(0, 221, 0);
}
